networking_envs/data/Abilene/*
networking_envs/data/Cogentco/*
networking_envs/data/GEANT/*
networking_envs/data/*Cogentco*/*
*model_dote*
networking_envs/tunnels.txt
networking_envs/tunnels.txt
networking_envs/tunnels.txt
**/__pycache__/
networking_envs/data/*Abilene*/
.idea/*

